/* css styles */

/* Styles both actual code blocks and your plain text/pseudocode blocks */
div.sourceCode, pre.text {
  background-color: var(--quarto-body-bg); 
  filter: brightness(0.95);                 /* Subtle contrast in light mode */
  border: 1px solid var(--bs-border-color); 
  border-radius: 6px;
  padding: 10px;
}

/* Properly handles dark mode contrast */
.quarto-dark div.sourceCode, .quarto-dark pre.text {
  filter: brightness(1.2);                  /* Subtle contrast in dark mode */
}